@import "variables";
@import "normalize";
@import "mixins";
@import "fontawesome";
@import "icon";
@import "button";
@import "common";
/* index */
.wei-container{
  width: 100%;
  height: 100%;
  background-color: $color-f8f8f8;
}
.wei-container2{
  width: 100%;
  height: 100%;
  background-color: $color-f9f4f2;
}
.wei-head {
  position: relative;
  height: 44px;
  line-height: 44px;
  background-color: $color-white;
  text-align: center;
  font-size: $font-size-t15;
  border-bottom: 1px solid $color-e9dbd5;
  padding: 0 4.6875%;
  color: $color-905641;
  a.wei-arr-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    z-index: 1;
    display: block;
    background-color: initial;
    @at-root .wei-arrow-left {
      @include wei-arrow('left', $color-905641);
    }
  }
  a.share-icon {
    position: absolute;
    right: 4.6875%;
    display: inline-block;
    color: $color-905641;
    font-size: $font-size-t16;
  }
}

.wei-content {
  position: relative;
  font-size: $font-size-body;
  &:after {
    content: '';
    position: absolute;
    bottom: -51px;
    left: 0;
    width: 100%;
    height: 51px;
  }
  .temple-banner {
    position: relative;
    width: 100%;
    padding-bottom: 39.0625%;
    overflow: hidden;
    img.banner-bg{
      position: absolute;
      width: 100%;
    }
    @at-root a.temple-banner-a {
      position: absolute;
      display: block;
      width: 90.625%;
      height: 54.4%;
      left: 50%;
      margin-left: -45.3125%;
      top: 50%;
      margin-top: -10.625%;
      img {
        float: left;
        width: 22.41379%;
      }

      .temple-detail {
        display: inline-block;
        float: right;
        height: 100%;
        width: 71.58621%;
        padding: 0 3%;
        color: $color-white;
        .temple-title {
          display: inline-block;
          font-size: $font-size-t15;
          margin-right: 1em;
          margin-top: 3%;
          margin-bottom: 1%;
        }
        .temple-con {
          padding-right: 5%;
        }
      }

      @at-root .wei-arrow-right {
        @include wei-arrow('right', $color-white);
        right: 3px;
        left: initial;
      }
    }
  }
  .temple-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //height: 60px;
    border-bottom: 1px solid $color-dcdcdc;
    @at-root .temple-at{
      color: $color-666;
      line-height: 20px;
    }
    a {
      position: relative;
      -moz-box-flex: 1.0; /* Firefox */
      -webkit-box-flex: 1.0; /* Safari 和 Chrome */
      box-flex: 1.0;
      color: $color-905641;
      //height: 51px;
      width: 25%;
      padding: 2% 0;
      text-align: center;
      i {
        font-size: $font-size-t24;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 20px;
        height: 20px;
        width: 1px;
        background-color: $color-dcdcdc;
      }
      &:last-child:after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
      }
    }
  }
  .temple-info {
    width: 90.625%;
    padding: 4.6875%;
    color: $color-888;
    border-bottom: 1px solid $color-dcdcdc;
    i {
      font-size: $font-size-t16;
      margin-right: 5px;
      vertical-align: text-top;
    }
    span {
      display: inline-block;
      line-height: 18px;
    }
  }
  .temple-product {
    width: 100%;
    background-color: $color-f8f8f8;
    padding-bottom: 3.125%;
    .temple-list {
      padding: 1.5625%;
      li {
        position: relative;
        float: left;
        margin: 1.5625%;
        width: 46.77419%;
        background: url("../img/bg_white.png") repeat left top;
        padding-bottom: 63.2258%;
        a.temple-list-item {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
          }
          .product-detail {
            display: block;
            margin: 5%;
            width: 90%;
          }
          @at-root .product-title {
            display: block;
            width: 100%;
            color: $color-444;
            line-height: 20px;
          }
          .product-num {
            display: inline-block;
            float: left;
            width: 50%;
            color: $color-666;
          }
        }
      }

    }
    a.temple-more {
      display: block;
      width: 93.75%;
      margin: 0 3.125%;
      text-align: center;
      color: $color-444;
      line-height: 25px;
      background-color: $color-white;
    }
  }

}

.wei-foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: $font-size-body;
  background-color: $color-white;

  @at-root .foot-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-top: 1px solid $color-905641;
    a {
      -moz-box-flex: 1.0; /* Firefox */
      -webkit-box-flex: 1.0; /* Safari 和 Chrome */
      box-flex: 1.0;
      color: $color-905641;
      height: 100%;
      width: 25%;
      padding: 4px 0;
      text-align: center;
      i {
        font-size: $font-size-t24;
      }
    }
    a.btn{
      display: flex;
      width: calc(100% / 3);
      height: 36px;
      line-height: 36px;
      justify-content: center;
      align-items: center;
      color: $color-999;
    }
    a.btn.click{
      color: $color-905641;
    }
    a.ok{
      background-color: $color-905641;
      color: $color-white;
    }
    .lightning-txt{
      display: inline-block;
      width: calc(100% / 3 * 2);
      text-align: left;
      margin-left: 4.6875%;
    }
    .lightning-price{
      color: $color-905641;
    }
    a.cancel{
      background-color: $color-eee;
      color: $color-444;
    }
  }
  @at-root .foot-container.r2{
    border-top: none;
    a{
      width: 50%;
    }
  }

}


.wei-downloadApp {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  a.down-fork{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    float: left;
    width: 10.9375%;
    img{
      width: 100%;
    }
  }
  img{
    width: 100%;
  }
  .down-now{
    position: absolute;
    width: 21.40625%;
    right: 3.125%;
    top: 50%;
    margin-top: -13px;
  }


}
/* temple_info */
.art-container {
  padding: 4.6875%;
  background-color: $color-f8f8f8;
  .title {
    font-size: $font-size-t14;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .vTitle {
    margin: 0;
    color: $color-999;
    font-weight: normal;
  }

  .pic img {
    width: 100%;
    margin: 5px 0;
  }

  .vTitle-date {
    margin-left: 15px;
  }
  .art-con{
    line-height: 20px;
  }
  .info-title{
    margin-top: 35px;
    font-size: $font-size-t14;
    color: $color-905641;
  }
  @at-root .info-item{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $color-dcdcdc;
    a.info-item-a{
      display: block;
      width: 100%;
      height: 100%;
      img{
        float: left;
        width: 31%;
        margin-right: 3%;
      }
      .info-item-con{
        display: inline-block;
        width: 66%;
        span{
          float: left;
          display: inline-block;
          color: $color-888;
        }
        .item-con-title{
          width: 100%;
          margin: 5px 0;
          color: $color-444;
        }
        .item-total-num{
          width: 100%;
          margin-bottom: 5px;
        }
        .item-temp{
          width: 50%;
        }
        .item-time{
          width: 50%;
          text-align: right;
        }
      }
    }

  }
}

/* pc */
.pc-temple-bg{
  position: relative;
  background: url("../img/pc_bg_1920x1200.jpg") no-repeat left top;
  background-size: cover;
  width: 100%;
  padding-bottom: 62.5%;
}
.pc-temple-container{
  position: absolute;
  left: 23%;
  width: 54%;
  height: 100%;
}
.temple-preview-con{
  position: absolute;
  top: 18%;
  width: 33.6%;
  height: 58.333%;
  padding: 9.3% 2.3% 0 2.3%;

  background: url("../img/iphone.png") no-repeat;
  background-size: 100% auto;

  img{
    width: 100%;
  }

}
.temple-qrcode{
  position: absolute;
  right: 0;
  bottom: 10.222%;
  width: 15.77%;
  img:last-child{
    margin-left: 20px;
  }
}
.temple-copyright{
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: $color-666;
}

/* .wei-carousel */
.wei-carousel {
  position: relative;
  width: 100%;
  .wei-carousel-items {
    position: relative;
    width: 100%;
    overflow: hidden;
    .items-container {
      position: relative;
      display: none;
      -webkit-transition: 0.6s ease-in-out left;
      -moz-transition: 0.6s ease-in-out left;
      -o-transition: 0.6s ease-in-out left;
      transition: 0.6s ease-in-out left;
      overflow: hidden;
      .items-a {
        display: block;
        width: 100%;
        overflow: hidden;
        .items-img {
          width: 100%;
        }
        video.items-img{
          width:100%;
          max-width:50rem;
          max-height:50rem;
          background-color: $color-black;
        }
      }
    }
    > .active, > .next, > .prev{
      display: block;
    }
    > .active {
      left: 0;
    }
    > .next, > .prev{
      position: absolute;
      top: 0;
      width: 100%;
    }
    > .next {
      left: 100%;
    }
    > .prev {
      left: -100%;
    }
    > .next.left, > .prev.right {
      left: 0;
    }
    > .active.left {
      left: -100%;
    }
    > .active.right {
      left: 100%;
    }
  }
  .wei-carousel-btns {
    position: absolute;
    top: auto;
    bottom: 10px;
    font-size: 0;
    height: 9px;
    line-height: 9px;
    right: inherit;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    li {
      width: 7px;
      height: 7px;
      background-color: #ccc;
      border-radius: 50%;
      float: left;
      margin-right: 6px;
      &.active {
        background-color: $color-905641;
        width: 7px;
        height: 7px;
      }
    }
  }
  .wei-carousel-ctrls  {
    > a{
      position: absolute;
      z-index: 1;
      display: block;
      filter: alpha(opacity=50);
      opacity: .5;
      height: 100%;
      width: 30px;
      background-color: initial;
    }
    .ctrls-a-l {
      left: 0;
    }

    .ctrls-a-r {
      right: 0;
    }
    span {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      display: block;
      height: 10px;
      width: 3px;
      background-color: #000;
    }

    .ctrls-l {
      left: 50%;
      margin-left: -1.5px;
      transform: rotate(-45deg) translateZ(0);
      -ms-transform: rotate(-45deg) translateZ(0); /* IE 9 */
      -moz-transform: rotate(-45deg) translateZ(0); /* Firefox */
      -webkit-transform: rotate(-45deg) translateZ(0); /* Safari 和 Chrome */
      -o-transform: rotate(-45deg) translateZ(0); /* Opera */
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 3px;
        width: 10px;
        background-color: #000;
      }
    }

    .ctrls-r {
      right: 50%;
      margin-right: -1.5px;
      transform: rotate(45deg) translateZ(0);
      -ms-transform: rotate(45deg) translateZ(0); /* IE 9 */
      -moz-transform: rotate(45deg) translateZ(0); /* Firefox */
      -webkit-transform: rotate(45deg) translateZ(0); /* Safari 和 Chrome */
      -o-transform: rotate(45deg) translateZ(0); /* Opera */
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 3px;
        width: 10px;
        background-color: #000;
      }
    }


  }
  .wei-carousel-captions{
    position: absolute;
    bottom: 6%;
    width: 150%;
    margin-left: -25%;
    min-height: 50px;
    text-align: center;
    color: $color-905641;
    font-size: 17px;
  }
}

/* 滑出框 */
.pop-up-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 997;
  overflow: hidden;
  font-size: $font-size-body;
  .pop-up {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 0;
    //overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
  }
  .pop-up-mask {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 996;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .wei-foot{
    position: absolute;
    bottom: 0;
  }
}
.pop-light-container{
  position: relative;
  margin: 0 15px;
  img.light-pro{
    position: absolute;
    top:-20px;
    z-index: 1000;
    width: 35%;
    border: 1px solid $color-905641;
  }
  .light-det{
    display: block;
    margin-left:35% ;
    padding: 3% 0 3% 4% ;
    width: 61%;
    color: $color-444;
    span{
      display: block;
    }
    .title{
      font-size: $font-size-t13;
      margin-bottom: 6%;
    }
    .price{
      color: $color-905641;
      font-size: $font-size-body;
      margin-bottom: 1%;
    }
    .num{
      font-size: $font-size-body;
    }
  }
  .light-intro{
    padding-bottom: 10px;
    border-bottom: 1px solid $color-dcdcdc;
  }
  .choose-num{
    margin: 20px 0;
    .num{
      float: left;
      width: 50%;
      line-height: 20px;
    }
    .num-btns{
      float: right;
      width: 50%;
      text-align: right;
      >*{
        float: right;
      }
      a{
        display: inline-block;
        background-color: $color-dcdcdc;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
      }
      input.num-check{
        width: 40px;
        border: none;
        outline: none;
        background-color: $color-eee;
        line-height: 20px;
        text-align: center;
        color: $color-444;
      }
    }
  }
}

//引導頁
.guide-container{
  position: relative;
  height: 100%;
  background-color: $color-f9f4f2;
  .temple-guide{
    padding-top: 6%;
    @media screen and (max-height: 470px){
      padding: 2% 6%;
    }
    #guide .wei-carousel-btns{
      bottom: -15%;
      li{
        background-color: $color-f1e7e3;
      }
      li.active{
        background-color: $color-white;
        border: 3px solid $color-e9dbd5;
        width: 4px;
        height: 4px;
        margin-top: -1.5px;
      }
      //包括min-height，不包括max-height值
      @media screen and (max-height: 416px){
        bottom: -14%;
      }
      @media screen and (max-height: 480px) and (min-height: 416px){
        bottom: -14%;
      }
      @media screen and (max-height: 504px) and (min-height: 480px) {
        bottom: -29%;
      }

      @media screen and (max-height: 568px) and (min-height: 504px) {
        bottom: -30%;
      }

      @media screen and (max-height: 603px) and (min-height: 568px) {
        bottom: -45%;
      }

      @media screen and (max-height: 640px) and (min-height: 603px) {
        bottom: -34%;
      }

      @media screen and (max-height: 667px) and (min-height: 640px) {
        //安卓
        bottom: -50%;
      }

      @media screen and (max-height: 672px) and (min-height: 667px) {
        bottom: -50%;
      }

      @media screen and (max-height: 736px) and (min-height: 672px) {
        bottom: -35%;
      }

      @media screen and (min-height: 736px) {
        bottom: -50%;
      }
    }
  }
  .temple-app{
    position: absolute;
    left: 50%;
    bottom: 6%;
    margin-left: -27.5%;
    width: 55%;
    @media screen and (max-height: 500px) {
      bottom: 2%;
    }
  }
}

/* act */
.act-content{
  background-color: $color-f8f8f8;
  @at-root .temple-detTop{
    width: 100%;
    margin-bottom: 10px;
    background-color: $color-white;
    .temple-detTop-bg{
      position: relative;
      width: 100%;
      padding-bottom: 46.875%;
      overflow: hidden;
    }
    img{
      position: absolute;
      width: 100%;
    }
    @at-root .link-temple{
      position: relative;
      display: block;
      margin: 0 2.34375%;
      padding: 7.5px 0;
      border-bottom: 1px solid $color-dcdcdc;
      color: $color-444;
      img.link-temple-img{
        position: initial;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-left: 5px;
      }
      @at-root .wei-arrow-right {
        @include wei-arrow('right', $color-dcdcdc);
        right: 8px;
        left: initial;
      }
    }
    .wish-tree{
      margin: 10px 4.6875%;
      color: $color-444;
      span{
        display: block;
      }
      .tree-con{
        color: $color-888;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .wish-tree-progress{
      position: relative;
      margin: 0 4.6875%;
      .progress-container{
        position: relative;
        float: left;
        width: 80%;
        height: 5.5px;
        margin-top: 7.25px;
        border-radius: 20px;
        background-color: $color-e6e6e6;
        .progress-bar{
          width: 0;
          height: 5.5px;
          border-radius: 20px;
          background-color: $color-905641;
        }
      }
      .progress-txt{
        float: left;
        width: 20%;
        height: 20px;
        line-height: 20px;
        text-align: right;
      }
    }
    .temple-result{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid $color-dcdcdc;
      div.temple-result-items {
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        color: $color-888;
        height: 51px;
        width: 50%;
        padding-top: 9px;
        text-align: center;
        img{
          position: initial;
          width: 12.5px;
          margin-right: 5px;
          vertical-align: text-bottom;
        }
        .temple-result-money{
          display: block;
          margin-top: 5px;
          color: $color-905641;
          font-size: $font-size-t15;
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 20px;
          height: 20px;
          width: 1px;
          background-color: $color-dcdcdc;
        }
        &:last-child:after {
          content: '';
          position: absolute;
          height: 0;
          width: 0;
        }
      }
    }

  }
  .temple-support{
    width: 100%;
    background-color: $color-white;
    margin-bottom: 10px;
    .temple-support-a{
      position: relative;
      display: block;
      margin: 0 2.34375%;
      .temple-support-items{
        display: block;
        float: left;
        margin-left: 5px;
        img{
          width: 30px;
          border-radius: 50%;
          margin-right: 10px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
      .temple-support-num{
        float: right;
        display: block;
        line-height: 60px;
        margin-right: 8%;
      }
    }
  }
  .temple-topic{
    width: 100%;
    background-color: $color-white;
    margin-bottom: 10px;
    @at-root .temple-content{
      padding: 4.6875%;
      .temple-title{
        color: $color-444;
        padding-bottom: 9px;
        border-bottom: 1px solid $color-dcdcdc;
      }
      .temple-chat-content{
        height: 50px;
        line-height: 50px;
        img.temple-chat-img{
          width: 34px;
          height: 34px;
          border-radius: 50%;
          margin-top: -2px;
          margin-right: 5px;
        }
        @at-root .temple-chat-name{
          display: inline-block;
          color: $color-888;
        }
        .temple-chat-time{
          float: right;
          display: inline-block;
          color: $color-888;
        }
      }
      .temple-chat-reply{
        .reply-img{
          float: left;
          width: 9%;
          height: 50px;
          line-height: 50px;
          img{
            width: 12px;
          }
        }
        .reply-content{
          float: right;
          width: 91%;
          img.temple-chat-img{
            width: 30px;
            height: 30px;
          }
        }
      }
    }

  }
  @at-root .temple-intro{
    width: 100%;
    background-color: $color-white;
    margin-bottom: 10px;
    p{
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
  }
}

/* pro */
.pro-content{
  background-color: $color-f8f8f8;
  color: $color-444;
  .pro-title{
    width: 100%;
    background-color: $color-white;
    margin-bottom: 10px;
    .pro-title-con{
      padding: 4.6875%;
      //padding-bottom: 4.6875%;
    }
    @at-root .carousel-container{
      width: 100%;
      padding-bottom: 100%;
      overflow: hidden;
      .content{
        position: absolute;
        top:0;
        width: 100%;
        //height: 100%;
        overflow: hidden;
      }
    }
  }
  .pro-container{
    .info-item{
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $color-dcdcdc;
      .info-item-a{
        display: block;
        width: 100%;
        height: 100%;
        img{
          float: left;
          width: 31%;
          margin-right: 3%;
        }
        .info-item-con{
          position: relative;
          display: inline-block;
          width: 66%;
          span{
            float: left;
            display: inline-block;
            color: $color-888;
          }
          .item-con-title{
            width: 100%;
            margin: 5px 0;
            color: $color-444;
          }
          .item-total-num{
            width: 100%;
            margin-bottom: 5px;
          }
          .item-temp{
            width: 50%;
          }
          .item-time{
            width: 50%;
            text-align: right;
          }
          .item-a{
            position: absolute;
            right: 0;
            bottom: -5px;
            a{
              height: 20px;
              line-height: 20px;
            }

            width: 68px;
          }
        }
      }

    }
  }

}

/* turnRound */
.turnRound-link{
  .link-temple{
    margin: 0;
    border: 0;
    padding: 7.5px 0 0 0;
  }
}
.about-temple{
  position: relative;
  display: block;
  width: 100%;
  img{
    float: left;
    width: 22%;
    margin-right: 10px;
  }
  span{
    float: left;
  }
  .about-container{
    width: 64%;
    color: $color-666;
  }
  .product-title{
    line-height: initial;
  }
}
.turn-pro-con{
  width: 72%;
  color: $color-888;
}

/* lighting */
.lightning-item{
  background-color: $color-white;
  padding: 2% 4.6875%;
  margin-bottom: 10px;
  .lightning-img{
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 5%;
    img{
      width: 100%;
    }
  }
  .info-item-con{
    display: inline-block;
    width: 55%;
    span{
      float: left;
      display: inline-block;
      color: $color-888;
    }
    .item-con-title{
      width: 100%;
      margin: 0 0 13px 0;
      color: $color-444;
    }
    .item-total-num{
      width: 100%;
      margin-bottom: 2px;
    }
    .item-temp{
      width: 50%;
    }
    .item-time{
      width: 50%;
      text-align: right;
    }
  }
  .lightning-opts{
    line-height: 35px;
    border-bottom: 1px solid $color-eee;
    .lightning-right{
      float: right;
    }
  }
  select.lightning-select{
    float: right;
    width: 20%;
    border: none;
    background: url("../img/r_arr.png") no-repeat right center;
    background-size: 8px auto;
  }
  input[type=checkbox].lightning-discount{
    -webkit-appearance: checkbox;
    vertical-align: middle;
  }
  textarea.lightning-inp{
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    margin-top: 10px;
    min-height: 60px;
  }
}

/* temple-list */
.list-container{
  overflow:hidden;
  height:90%;
  ul{
    list-style:none;
    padding:0;
    margin:0;
  }
  img{
    width:100%;
  }
  .js-carousel{
    position:relative;
    margin:auto;
    width:80%;
    -webkit-transform-style:preserve-3d;
    -webkit-perspective:1000px;
  }
  .js-carousel-li{
    display:none;
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    -webkit-transition:500ms linear;opacity:0;
  }
  .js-carousel-li-visible{
    display:block;
    opacity:1;
  }
  .js-carousel-li img{
    width:100%;
    height:auto;
  }
  .temple-items{
    background-color: $color-white;
    .temple-con{
      padding: 10px;
      color: $color-666;
      .title{
        font-size: $font-size-t14;
        color: $color-black;
        margin-right: 5px;
      }
      span{
        display: inline-block;
        line-height: 20px;
      }
    }
  }
}

/* light */
.light-container{
  width: 100%;
  height: 100%;
  background-color: $color-37231e;
  font-size: $font-size-body;
  .light-bg{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/light.png") no-repeat top left;
    background-size: 100% auto;
    text-align: center;
    input.name{
      width: 25%;
      margin-top: 79%;
      line-height: 2.4rem;
      text-align: center;
      background-color: initial;
      border: none;
      outline: none;
      color: $color-6b442c;
    }
    .light-con{
      width: 83.4375%;
      margin: 30% auto 0;
      @media screen and (max-height: 505px){
        //ip5以下设备
        margin: 28% auto 0;
      }
      @media screen and (max-height: 481px){
        //ip4以下设备
        margin: 23% auto 0;
      }
      color: $color-956644;

      .title{
        color: $color-d09b58;
        line-height: 2.2rem;
      }
      .context{
        margin-left: 11.6%;
        text-align: left;
        line-height: 2.2rem;
        img{
          height: 1.2rem;
          line-height: 1.2rem;
        }
      }
      a.btn{
        margin: 5% auto 0;
        display: block;
        width: 165.5px;
        height: 32.5px;
        line-height: 32.5px;
        color: $color-d09a5a;
        background: url("../img/light_btn.png") no-repeat left center;
        background-size: 100% auto;
      }
    }
  }
}

/* bind */
.bind-container{
  margin: 20px 0;
  background-color: $color-white;
  border-top: 1px solid $color-e9dbd5;
  .form-data{
    .items{
      line-height: 45px;
      .left{
        float: left;
        width: 15.78125%;
        img{
          margin-left: 30%;
          height: 1.4rem;
          vertical-align: text-bottom;
        }
      }
      .right{
        position: relative;
        margin-left: 15.78125%;
        border-bottom: 1px solid $color-e9dbd5;
        input{
          width: 90%;
          border: none;
          outline: none;
          color: $color-905641;
          &::-webkit-input-placeholder { /* WebKit browsers */
            color: $color-a48e8c;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $color-a48e8c;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $color-a48e8c;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $color-a48e8c;
          }

        }
        input.val-code{
          width: 50%;
        }
        .get-code{
          position: absolute;
          right: 5%;
          top: 50%;
          margin-top: -12.5px;
          width: 30%;
          line-height: 25px;
          a{
            @include wei-bg-btn($color-905641, $color-white, $color-905641, 25px, 25px);
            @include fillet(true); /* 圆角 */
          }

        }
      }
    }
  }
}
.bind-btn{
  margin: 0 4.6875%;
  a{
    @include wei-bg-btn($color-white, $color-905641, $color-905641, 40px, 40px);
    @include fillet(true); /* 圆角 */
  }
}
